@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gradient-01 {
  background-image: radial-gradient(circle at 50% 50%, rgb(27, 45, 140), rgb(2, 6, 23));
  filter: blur(125px);
}

.gradient-02{
  background-image: radial-gradient(circle at 50% 50%, rgb(44, 62, 149), rgb(2, 6, 23));
  filter: blur(125px);
}

.gradient-03{
  background-image: linear-gradient(rgb(2, 6, 23), rgb(44, 62, 149), rgb(2, 6, 23));
  filter: blur(125px);
}